.nav {
  display: flex;
  justify-content: start;
  padding: 20px 36px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.d-flex div{
  /* border: 2px solid #fff; */
  /* color: #fff; */
  text-align: center;
}